button:not(.fup-bar) {
  border: none;
  background-color: green;
  border-radius: none;
  display: flex;
  flex-direction: column;
  color: white;
}

button:hover:not(.fup-bar) {
  background-color: lightgreen;
}

.fup-bar {
  background: transparent;
  border: none;
  color: white;
}

.up-bar {
  background: black;
  height: 30px;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
}